/*Navigation bar*/
#nav-bar {
   display: flex;
   flex-flow: ;
   align-items: baseline;
   background-color: #EDEDEE;
   position: fixed;
   top: 0;
   width: 100%;
}

#nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: flex-end;
    list-style-type: none;
    width: 80%;
         
}

#nav-bar a {
    color: black;
    padding: 0 90px;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
